/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("../img/agsquare_@2X.png")
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-image: url("../img/subtle_zebra_3d.png");
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer, .main {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar {
    margin-top: 20px
}

.navbar .brand {
    background: url("../img/logo-jlp-site.png") no-repeat 5px;
    width: 98px;
    overflow: hidden;
    text-indent: -999px;
}

#myCarousel {
    -webkit-box-shadow: 0 3px 5px rgba(126, 126, 126, 0.9);
    -moz-box-shadow: 0 3px 5px rgba(126, 126, 126, 0.9);
    box-shadow: 0 3px 5px rgba(126, 126, 126, 0.9);
}

.main {
    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(238, 238, 238, 0.9) 0%, rgba(252, 252, 252, 0.9) 11%, rgba(252, 252, 252, 0.9) 25%, rgba(242, 242, 242, 0.9) 30%, rgba(255, 255, 255, 0.9) 81%, rgba(238, 238, 238, 0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(238, 238, 238, 0.9)), color-stop(11%, rgba(252, 252, 252, 0.9)), color-stop(25%, rgba(252, 252, 252, 0.9)), color-stop(30%, rgba(242, 242, 242, 0.9)), color-stop(81%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(238, 238, 238, 0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(238, 238, 238, 0.9) 0%, rgba(252, 252, 252, 0.9) 11%, rgba(252, 252, 252, 0.9) 25%, rgba(242, 242, 242, 0.9) 30%, rgba(255, 255, 255, 0.9) 81%, rgba(238, 238, 238, 0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(238, 238, 238, 0.9) 0%, rgba(252, 252, 252, 0.9) 11%, rgba(252, 252, 252, 0.9) 25%, rgba(242, 242, 242, 0.9) 30%, rgba(255, 255, 255, 0.9) 81%, rgba(238, 238, 238, 0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(238, 238, 238, 0.9) 0%, rgba(252, 252, 252, 0.9) 11%, rgba(252, 252, 252, 0.9) 25%, rgba(242, 242, 242, 0.9) 30%, rgba(255, 255, 255, 0.9) 81%, rgba(238, 238, 238, 0.9) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(238, 238, 238, 0.9) 0%, rgba(252, 252, 252, 0.9) 11%, rgba(252, 252, 252, 0.9) 25%, rgba(242, 242, 242, 0.9) 30%, rgba(255, 255, 255, 0.9) 81%, rgba(238, 238, 238, 0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow: 0 2px 4px rgba(126, 126, 126, 0.3);
    -moz-box-shadow: 0 2px 4px rgba(126, 126, 126, 0.3);
    box-shadow: 0 2px 4px rgba(126, 126, 126, 0.3);

    padding: 0 0 0.5em;
}

.destaque-text p {
    font-size: 1.7em;
    line-height: 1.3em;
    color: #504f4f;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

/* TODO: Retirar quando colocar as imagens corretas no Slider */
.carousel-inner .item img {
    width: 1170px;
}

.container .credit {
    margin: 20px 0;
}